{{#if isRed}}
  <button class='button-string button-string_color_red' page={{page}}>
    {{caption}}
  </button>
{{else}}
  <button class='button-string' page={{page}}>
    {{caption}}
  </button>
{{/if}}